<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="card">
            <div class="item">          
                 <textarea name="comment" ng-model="post"></textarea>
            </div>
            <div class="item">
                 <button class="button button-primary button-small pull-right" ng-click="addPost(post)">Post</button>
            </div> 
        </div>
        <div class="item card-item" collection-repeat="post in posts | orderBy : 'post_date'">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" ng-style="{'background-image':'url('+post.postBy.profilePic+')'}"></span>
                    <strong>{{post.postBy.name}}</strong> {{post.post}}
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>{{}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
